{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}

<head>
    <script>
function myFunction() {
  // Get the checkbox
  var checkBox = document.getElementById("google_token");
  // Get the output text
  var text = document.getElementById("text");

  // If the checkbox is checked, display the output text
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
    text.style.display = "none";
  }
}
    </script>
</head>

<form method="POST">
  <h3 align="center">Sign Up</h3>
    <div class="form-group">
  Google Authenticator <input type="checkbox" id="google_token" name="google_token" onclick="myFunction()" class="tocheck-true">
    <p id="text" class="form-control" value="{{ secret }}" readonly style="display:none">{{ secret }} </p>
        </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>

{% endblock %}
